html {
  font-size: 10px;
  background: url("img/instruments.jpg") bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .2rem solid black;
  border-radius: 50%;
  margin: 1rem;
  font-size: 2rem;
  padding: 2rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.2);
  text-shadow: 0 0 .3rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #B2CBE9;
  box-shadow: 0 0 2rem #B2CBE9;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2rem;
  color: #B2CBE9;
}
