@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  color: hsl(229, 6%, 66%);
}

h1,
h2 {
  color: hsl(234, 12%, 34%);
  margin: 0 auto;
}

img {
  width: 55px;
  margin-top: 2rem;
  float: right;
}

h1 {
  font-size: 1.6rem;
  max-width: 320px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* HEADER */
header {
  text-align: center;
  margin: 4rem 2rem 3rem;
}

h1:not(span) {
  font-weight: 200;
}

h1 span {
  font-weight: 600;
}
header p {
  font-size: 15px;
}

/* CARDS */
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  height: 220px;
  margin: 1rem 2rem;
  padding: 1rem;
  border: 1px solid #f3f5f9;
  border-radius: 7px;
  -webkit-box-shadow: -10px 0px 20px 0px #f3f5f9, 0px 10px 20px 0px #dfe1e6,
    10px 0px 20px 0px #f3f5f9;
  box-shadow: -10px 0px 20px 0px #f3f5f9, 0px 10px 20px 0px #dfe1e6,
    10px 0px 20px 0px #f3f5f9;
}

.card p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

#supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}
#team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}
#karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}
#calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media (min-width: 650px) {
  h1 {
    font-size: 2rem;
    max-width: none;
  }
  header {
    margin: 4rem auto 3rem;
    max-width: 500px;
  }
  img {
    width: 64px;
  }
  .card-container {
    margin: 3rem;
  }
}
@media (min-width: 850px) {
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .card-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .card-container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .card {
    height: 250px;
    margin: 0;
    padding: 2rem;
  }
  #supervisor {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
  }
  #team-builder {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
  }
  #karma {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1;
  }
  #calculator {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2 / 2;
  }
}
@media (min-width: 1200px) {
  .card-container {
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 3rem auto;
    max-width: 1150px;
  }
  .card-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .card-container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .card-container > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .card-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .card-container > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .card-container > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .card-container > *:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .card-container > *:nth-child(12) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
  }
  .card {
    height: 250px;
    margin: 0;
    padding: 2rem;
  }

  #supervisor {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 4 / 2;
  }
  #team-builder {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
  }
  #karma {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 5 / 3;
  }
  #calculator {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 4 / 4;
  }
}
